body {
  /* Temporary until I install webfont */
  font-family: SuisseIntl-Medium, sans-serif;
  font-size: 96px;
  cursor: url('../images/picker_default.svg'), auto;
  cursor: -webkit-image-set( url('../images/picker_default.svg') 1x, url('../images/picker_default.svg') 2x), auto;
}

/* INTRO */

p {
  font-family: 'Roboto Mono', sans-serif;
  font-size: .4em;
  line-height: 1.3em;
}
p.instructions {
  width: 75%;
  padding-bottom: 30px;
}
#intro {
  background: #E0A0B5;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  z-index: 100;
}


#intro-text {
  animation: slidein 600ms normal;
  padding-left: 30px;
}

@keyframes slidein {
  0% {
    transform: translate(0, -500px);
    animation-timing-function: cubic-bezier(.04,.58,.38,1);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes slideup {
  0% {
    transform: translate(0, 500px);
    animation-timing-function: cubic-bezier(.04,.58,.38,1);
  }
  100% {
    transform: translate(0, 0);
  }
}

p.highscore {
  padding-left: 30px;
  position: absolute;
  bottom: 24px;
  animation: slideup 600ms normal;
}

#intro-text .logo {
  letter-spacing: -0.021em;
  padding-top: 15px;
}
#intro-text h1 {
  padding-bottom: 30px;
}
a.start-button {
  border-bottom: 5px solid rgba(255, 255, 255, 1);
  padding-bottom: 0px;
  transition: all 200ms;
}
a.start-button:hover {
  border-bottom: 5px solid rgba(255, 255, 255, .3);
  padding-bottom: 10px;
  transition: all 200ms;
}

/* LEVEL INTRO */

#level-count h1 {
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 95vh;
}
#level-count {
  background: #71BBCE;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}

/* GAME */

#game-container {
  background: white;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  overflow: hidden;
}
#game {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.cell {
  position: absolute;
}
.cell h1 {
  letter-spacing: -0.021em;
  position: relative;
  /*animation: poke 200ms reverse;*/
}
.cell h1.animated {
  animation: poke 250ms;
}

@keyframes poke {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -15px);
  }
  100% {
    transform: translate(0, 0);
  }
}

header {
  color: #E6E9EB;
  position: absolute;
  z-index: 10;
  width: 100%;
  pointer-events: none;
}
header .level-num {
  float: left;
  padding: 30px 0 0 30px;
}
header .timer {
  float: right;
  padding: 30px 30px 0 0;
}
#tile-container {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 5%;
  pointer-events: none;
}

.tile {
  display: inline;
  position: relative;
  float: left;
}
